<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(const x of book){ %>
<ul>
    <li>
           <h1>Book Title:<%= x.title %><h1></h1>
        <p>Author:<%= x.authors %></p>
        <p>Tel:<%= x.tel %></p>
    </li>
</ul>

<form action="/del/<%= x._id %>" method="POST">
    <a href="/updates/<%= x._id %>">Update</a>
    <button>Delete</button>
</form>
    <% } %>
</body>
</html>